<div>
    <h2 id="page-heading">
        <span jhiTranslate="akApp.invoiceLine.home.title">Invoice Lines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-line" [routerLink]="['/invoice-line/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="akApp.invoiceLine.home.createLabel">
            Create a new Invoice Line
            </span>
        </button>
    </h2>
    <ak-alert-error></ak-alert-error>
    <ak-alert></ak-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="invoiceLines?.length === 0">
        <span jhiTranslate="akApp.invoiceLine.home.notFound">No invoiceLines found</span>
    </div>
    <div class="table-responsive" *ngIf="invoiceLines?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="displayOrder"><span jhiTranslate="akApp.invoiceLine.displayOrder">Display Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="itemName"><span jhiTranslate="akApp.invoiceLine.itemName">Item Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unitName"><span jhiTranslate="akApp.invoiceLine.unitName">Unit Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="akApp.invoiceLine.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="rate"><span jhiTranslate="akApp.invoiceLine.rate">Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="amount"><span jhiTranslate="akApp.invoiceLine.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="discountPct"><span jhiTranslate="akApp.invoiceLine.discountPct">Discount Pct</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="accountNumber"><span jhiTranslate="akApp.invoiceLine.accountNumber">Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="akApp.invoiceLine.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="invoice.id"><span jhiTranslate="akApp.invoiceLine.invoice">Invoice</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="item.id"><span jhiTranslate="akApp.invoiceLine.item">Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="company.id"><span jhiTranslate="akApp.invoiceLine.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let invoiceLine of invoiceLines ;trackBy: trackId">
                <td><a [routerLink]="['/invoice-line', invoiceLine.id, 'view' ]">{{invoiceLine.id}}</a></td>
                <td>{{invoiceLine.displayOrder}}</td>
                <td>{{invoiceLine.itemName}}</td>
                <td>{{invoiceLine.unitName}}</td>
                <td>{{invoiceLine.quantity}}</td>
                <td>{{invoiceLine.rate}}</td>
                <td>{{invoiceLine.amount}}</td>
                <td>{{invoiceLine.discountPct}}</td>
                <td>{{invoiceLine.accountNumber}}</td>
                <td jhiTranslate="{{'akApp.ProcessStatus.' + invoiceLine.status}}">{{invoiceLine.status}}</td>
                <td>
                    <div *ngIf="invoiceLine.invoice">
                        <a [routerLink]="['/invoice', invoiceLine.invoice?.id, 'view' ]" >{{invoiceLine.invoice?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoiceLine.item">
                        <a [routerLink]="['/item', invoiceLine.item?.id, 'view' ]" >{{invoiceLine.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoiceLine.company">
                        <a [routerLink]="['/company', invoiceLine.company?.id, 'view' ]" >{{invoiceLine.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/invoice-line', invoiceLine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice-line', invoiceLine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(invoiceLine)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
