<div>
    <h2 id="page-heading">
        <span jhiTranslate="akApp.customerType.home.title">Customer Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-type" [routerLink]="['/customer-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="akApp.customerType.home.createLabel">
            Create a new Customer Type
            </span>
        </button>
    </h2>
    <ak-alert-error></ak-alert-error>
    <ak-alert></ak-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="customerTypes?.length === 0">
        <span jhiTranslate="akApp.customerType.home.notFound">No customerTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="customerTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="akApp.customerType.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="akApp.customerType.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="akApp.customerType.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="company.id"><span jhiTranslate="akApp.customerType.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerType of customerTypes ;trackBy: trackId">
                <td><a [routerLink]="['/customer-type', customerType.id, 'view' ]">{{customerType.id}}</a></td>
                <td>{{customerType.name}}</td>
                <td>{{customerType.description}}</td>
                <td>{{customerType.isActive}}</td>
                <td>
                    <div *ngIf="customerType.company">
                        <a [routerLink]="['/company', customerType.company?.id, 'view' ]" >{{customerType.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/customer-type', customerType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer-type', customerType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(customerType)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="customerTypes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
