<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="department">
            <h2><span jhiTranslate="akApp.department.detail.title">Department</span> {{department.id}}</h2>
            <hr>
            <ak-alert-error></ak-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="akApp.department.code">Code</span></dt>
                <dd>
                    <span>{{department.code}}</span>
                </dd>
                <dt><span jhiTranslate="akApp.department.name">Name</span></dt>
                <dd>
                    <span>{{department.name}}</span>
                </dd>
                <dt><span jhiTranslate="akApp.department.description">Description</span></dt>
                <dd>
                    <span>{{department.description}}</span>
                </dd>
                <dt><span jhiTranslate="akApp.department.isActive">Is Active</span></dt>
                <dd>
                    <span>{{department.isActive ? "C" : "K"}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/department', department.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
