<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="ak-jobs-heading" jhiTranslate="akApp.jobs.home.createOrEditLabel">Create or edit a Jobs</h2>
            <div>
                <ak-alert-error></ak-alert-error>
                <div class="form-group" [hidden]="true">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code').invalid && (editForm.get('code').dirty || editForm.get('code').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" formControlName="startDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" formControlName="endDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.estimate" for="field_estimate">Estimate</label>
                    <input type="number" class="form-control" name="estimate" id="field_estimate"
                           formControlName="estimate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.investor" for="field_investor">Investor</label>
                    <input type="text" class="form-control" name="investor" id="field_investor"
                           formControlName="investor"/>
                    <div *ngIf="editForm.get('investor').invalid && (editForm.get('investor').dirty || editForm.get('investor').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('investor').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                    <div *ngIf="editForm.get('address').invalid && (editForm.get('address').dirty || editForm.get('address').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 300 }">
                        This field cannot be longer than 300 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.notes" for="field_notes">Notes</label>
                    <textarea class="form-control" name="notes" id="field_notes" formControlName="descripnotestion" maxlength="140" rows="3"></textarea>
                    <div *ngIf="editForm.get('notes').invalid && (editForm.get('notes').dirty || editForm.get('notes').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('notes').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akApp.jobs.jobType" for="field_jobType">Job Type</label>
                    <select class="form-control" id="field_jobType" name="jobType" formControlName="jobType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="jobTypeOption.id === editForm.get('jobType').value?.id ? editForm.get('jobType').value : jobTypeOption" *ngFor="let jobTypeOption of jobtypes; trackBy: trackJobTypeById">{{jobTypeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
